/*[ COMPOSANT NAV--MENU ]*/
/* ------------------------------------------------------------ */

/*[ Liste du menu principal - <ul> ]*/
nav .nav--liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
}

/*[ Les éléments du menu principal - <li> ]*/
.nav--liste .nav--element {
    margin: 20px 0;
    color: #ccc;
    text-align: center;

    @media (min-width: 768px) {
        margin: 2rem 0 2rem 6rem;
        text-align: left;
    }

    @media (min-width: 992px) {
        margin: 2rem 0 2rem 10rem;
    }
}

/*[ Les liens du menu principal - <a> ]*/
.nav--element a {
    display: block;
    font-size: 25px;
    font-family: Mirage;
    color: #fff;
    transition: 0.3s;
    opacity: 0;

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width: 992px) {
        font-size: 4rem;
    }

    &:hover {
        color: #333;
    }


    /* [ Animation des éléments du menu ] */
    .fadeMenu {
        transition: opacity .5s ease-in-out;
    }
}